<mat-toolbar color="primary"><span>Arithmetric Expressions</span></mat-toolbar>
<div class="container">
  <h3>Calculate your favorite Arithmetric Expressions</h3>
  <mat-form-field class="item">
    <input
      matInput
      [formControl]="expression"
      placeholder="Arithmetric Expression"
      [errorStateMatcher]="matcher"
    />
    <mat-hint>For Example 5+3</mat-hint>
    <mat-error>{{ expression.getError("error") }}</mat-error>
  </mat-form-field>
  <mat-card class="item" *ngIf="calculateEntity$ | async as calculateEntity">
    <mat-card-header>
      <mat-card-title>
        {{ calculateEntity.result }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ calculateEntity.message }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{ calculateEntity.resultTree | json }}
    </mat-card-content>
  </mat-card>
  <mat-spinner *ngIf="loading" color="primary"></mat-spinner>
</div>
